<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Guru99 Banking Suite">

 <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="Customer Onboarding Test">

        <classes>

            <class name="tests.CustomerOnboardingTest"/>

        </classes>

    </test>

</suite> <!-- Suite -->
